* { box-sizing:border-box; }
body { margin:0; font-family:'Istok Web', sans-serif; color:#333; }
header { display:flex; justify-content:space-between; padding:20px 50px; align-items:center; }


.plan { display: none; }
#mission { display: block; } 

.logo span.action { color:#89CE9A; font-size:34px; font-weight:700; }
.logo span.for { color:#555; font-family:'Italianno'; font-size:44px; }
.logo span.animals { color:#66AAEE; font-size:34px; font-weight:700; }
nav a { margin:0 15px; text-decoration:none; color:#000; font-size:18px; }

.button-row { display:flex; justify-content:center; gap:20px; margin-top:40px; margin-bottom: 20px;}
.button-row a {
    background:#e7f0ff;
    padding:20px 40px;
    border-radius:16px;
    text-decoration:none;
    color:#000;
    font-size:22px;
    font-weight:600;
}

/* SECTION WRAPPERS */
.section { padding:80px 60px; text-align:center; }

.footer-call {
    padding:120px 40px;
    text-align:center;
    background:#eef4ff;
}
